**.pyc
**__pycache__
**.egg-info
deepdrr/model_segmentation.pth.tar
examples
dist
build
docs/build
.vscode
**flycheck*.py
/.DS_Store
output
/deepdrr/projector/.vs
deepdrr/projector/original_project_kernel.cu
deepdrr/projector/original_kernel_vol_seg_data.cu
